.player input {
    background-color: rgb(54, 51, 51);
    border: none;
    border-bottom: 2px solid yellow;
    color: white;
    align-content: center;
    padding-bottom: 5%;
    align-items:  center;
    width: 50%;
}

.player{
    width: 50%;
    align-content: center;

}

.player button {
    background-color: rgb(54, 51, 51);
    border: none;
    border-bottom: 2px solid yellow;
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
    align-content: center;
    padding-bottom: 3%;
    width: 50%;
    color: white;
}