
.timer div{
    border-bottom: 2px solid yellow;
    width: fit-content;

}

.timer{
    height: fit-content;
    padding-left: 10%;
    position: fixed;
    width: fit-content;
    border-top: 1px solid yellow;
    border-right: 1px solid yellow;

}
.timer div:hover {
    border: solid 10px blue;
}

