/* Poppins and Raleway */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway:wght@400;700&display=swap');

body {
  background-color: rgb(54, 51, 51);
  color: white;
  font-family: 'Raleway', sans-serif;
  
}
